@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');  /*import da fonte Roboto*/

*{
    margin: 0;
    padding: 0;
}

#container{
    margin: auto;
    width: 400px;
    height: 800px;
    background-color: antiquewhite;
}

header{
    width: 400px;
    height: 360px;
}

#img_fundo{
    width: 400px;
    height: 360px;
    margin-bottom: -340px;
}

#container{
    margin: auto;
    width: 400px;
}

#buscar{
    font-size: 16px;
    height: 50px;
    width: 320px;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0px 4px 4px 0px;
    padding-left: 25px;
    outline: none;
    border: none;
    margin-left: 30px;
    margin-top: 35px;
}

#img_lupa{
    width: 25px;
    height: 25px;
    margin-left: -50px;
    margin-bottom: -10px;
    filter: opacity(0.3);
}

#titulo{
    width: 340px;
    color: #fff;
    font-family: 'roboto', 'sans-serif';
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 130px;
    margin-left: 30px;
}

#slide_florestas{
    width: 140px;
    height: 140px;
    margin-top: 40px;
    margin-left: 20px;
    border-radius: 5px 5px 0 0;
}

#p_flore{
    color: black;
    text-transform: capitalize;
    width: 125px;
    height: 30px;
    background-color: #fff;
    border-radius: 0 0 5px 5px;
    font-family: 'roboto','sans-serif';
    font-weight: bold;
    margin-left: 20px;
    padding-left: 15px;
    padding-top: 20px;
    margin-top: -8px;
    box-shadow: 0 4px 8px rgb(0 , 0 , 0 , 0.2);           
}

#folha{
    width: 25px;
    height: 25px;
    margin-left: 125px;
    margin-top: -35px;
    margin-bottom: 40px;
    filter: opacity(0.3);
}

#slide_praia{
    width: 140px;
    height: 140px;
    margin-top: -230px;
    margin-bottom: 76px;
    margin-left: 20px;
    border-radius: 5px 5px 0 0;
}
#praia{
    width: 25px;
    height: 25px;
    margin-left: 275px;
    margin-top: -35px;
    margin-bottom: 40px;
    filter: opacity(0.3);
}

#p_prai{
    color: black;
    text-transform: capitalize;
    width: 125px;
    height: 30px;
    background-color: #fff;
    border-radius: 0 0 5px 5px;
    margin-left: 174px;
    padding-left: 15px;
    padding-top: 15px;
    margin-top: -80px;
    box-shadow: 0 4px 8px rgb(0 , 0 , 0 , 0.2);
    font-family: 'Roboto',sans-serif;
    font-weight: bold
}

#footer{
    width: 400px;
    height: 170px;
    background-color: #222;
}

#p_saiba_mais {
    font-size: 16px;
    text-transform: uppercase;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    padding-left: 40px;
    padding-top: 20px;
}

#ret_um {
    width: 2px;
    height: 8px;
    background-color: #404040;
    margin-top: -145px;
    margin-left: 40px;
}

#p_empresa {
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    color: #cfcfcf;
    margin-top: -15px;
    margin-left: 50px;
    width: 100px;
}

#ret_dois {
    width: 2px;
    height: 8px;
    background-color: #404040;
    position: relative;
    left: 210px;
    bottom: 20px;
}

#p_perguntas {
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    color: #cfcfcf;
    margin-top: -36px;
    margin-left: 220px;
}

#ret_tres {
    width: 2px;
    height: 8px;
    background-color: #404040;
    position: relative;
    left: 210px;
    top: 35px;
}

#p_vagas {
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    color: #cfcfcf;
    position: relative;
    top: 19px;
    margin-left: 220px;
}

#ret_quatro {
    width: 2px;
    height: 8px;
    background-color: #404040;
    position: relative;
    left: 40px;
}

#p_pgmto {
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    color: #cfcfcf;
    margin-top: -15px;
    margin-left: 50px;
}